.profile__button-edit {
  width: 24px;
  height: 24px;
  background: #000;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 0;
  margin-left: 18px;
  transition: opacity .2s ease;
  box-sizing: content-box;
}

.profile__button-edit:hover {
  opacity: .6;
}

@media (max-width: 426px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
  }
}
