.profile__about {
  max-width: 384px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 510px) {
  .profile__about {
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 36px;
  }
}

@media (max-width: 426px) {
  .profile__about {
    max-width: 282px;
  }
}
