.popup__content {
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background: #fff;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  position: relative;
}

@media (max-width: 510px) {
  .popup__content {
    max-width: 282px;
    max-height: 322px;
    padding-top: 25px;
    padding-right: 22px;
    padding-bottom: 25px;
    padding-left: 22px;
  }
}
