.profile__subtitle {
  width: 275px;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin: 16px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 670px) {
  .profile__subtitle {
    font-size: 14px;
  }
}


@media (max-width: 426px) {
  .profile__subtitle {
    line-height: 17px;
    text-align: center;
  }
}


